/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

html {
  font-family: "Cinzel", serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.logo {
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
}
header {
  color: white;
}

body {
  background-color: #8d99ae;
}
.btn {
  color: white;
  background-color: indianred;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  color: gold;
}

.form {
  width: 90vw;
  max-width: 500px;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}
.form:hover {
  box-shadow: var(--shadow-4);
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  background: white;
  border: 1px solid gray;
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

/* ALERT */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: 8px;
  text-align: center;
  background-color: #7f2122;
  color: wheat;
  letter-spacing: var(--letterSpacing);
}

.alert-danger {
  color: wheat;
  background: #7f2122;
}
.alert-success {
  color: var(--green-dark);
  background: green;
}
